body {
  background-image: url("../assets/641968.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.enterButton {
  display: flex;
  position: absolute;
  top: 230px;
  right: 640px;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

.enterButton:hover {
  transform: scale(1.10);
}

h2 {
  position: relative;
  top: 10px;
}
