.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: .2em solid black;
  background-color: #CE1131;
}

.logo {
  position: relative;
  right: 90px;
}

.createButton {
  position: relative;
  right: 130px;
  padding: 12px 29px;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.3s;
}

.createButton:hover {
  transform: scale(1.08);
}
